In [ ]:
# Haruto Nakai, Jonathan Pak, Alma Niu - Group 3

** Week 2 - In class exercise 1 **
<br>The aim of this in class exercise is to make you conversant with different features of Pandas dataframe. You are provided with a dataset in csv format. You need to understand the visualize the data and perform the necessary operations as asked.

In [4]:
# importing the libraries
import pandas as pd

The dataset that we used contains different countries and their alcohol usage. You can see the details once you load and display the attributes of your dataset.

In [5]:
# read drinks.csv into a DataFrame called 'drinks'
drinks = pd.read_csv('drinks.csv') # assumes separator is comma

In [7]:
# print the head 
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [8]:
# prints the tail
drinks.tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [10]:
# examine the default index
drinks.index

RangeIndex(start=0, stop=193, step=1)

In [13]:
# examine data types
drinks.columns.values

array(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'], dtype=object)

In [14]:
# examine shape
drinks.shape

(193, 6)

In [17]:
# print the 'beer_servings' Series
drinks['beer_servings']

0        0
1       89
2       25
3      245
4      217
5      102
6      193
7       21
8      261
9      279
10      21
11     122
12      42
13       0
14     143
15     142
16     295
17     263
18      34
19      23
20     167
21      76
22     173
23     245
24      31
25     231
26      25
27      88
28      37
29     144
      ...
163    128
164     90
165    152
166    185
167      5
168      2
169     99
170    106
171      1
172     36
173     36
174    197
175     51
176     51
177     19
178      6
179     45
180    206
181     16
182    219
183     36
184    249
185    115
186     25
187     21
188    333
189    111
190      6
191     32
192     64
Name: beer_servings, Length: 193, dtype: int64

In [20]:
# calculate the mean 'beer_servings' for the entire dataset
drinks['beer_servings'].mean()

106.16062176165804

In [21]:
# count the number of occurrences of each 'continent' value and see if it looks correct
drinks['continent'].value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

In [23]:
# Display only the number of rows of the 'drinks' DataFrame
len(drinks)

193

In [24]:
# boolean filtering: only show countries with total_litres_of_pure_alcohol > 0
drinks[drinks.total_litres_of_pure_alcohol > 0]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
30,Cambodia,57,65,1,2.2,AS
31,Cameroon,147,1,4,5.8,AF
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA
164,Swaziland,90,2,2,4.7,AF
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
167,Syria,5,35,16,1.0,AS
168,Tajikistan,2,15,0,0.3,AS
169,Thailand,99,258,1,6.4,AS
170,Macedonia,106,27,86,3.9,EU
171,Timor-Leste,1,1,4,0.1,AS
172,Togo,36,2,19,1.3,AF
173,Tonga,36,21,5,1.1,OC
174,Trinidad & Tobago,197,156,7,6.4,NaN
175,Tunisia,51,3,20,1.3,AF
176,Turkey,51,22,7,1.4,AS
177,Turkmenistan,19,71,32,2.2,AS
178,Tuvalu,6,41,9,1.0,OC
179,Uganda,45,9,0,8.3,AF
180,Ukraine,206,237,45,8.9,EU
181,United Arab Emirates,16,135,5,2.8,AS
182,United Kingdom,219,126,195,10.4,EU
183,Tanzania,36,6,1,5.7,AF
184,USA,249,158,84,8.7,NaN
185,Uruguay,115,35,220,6.6,SA
186,Uzbekistan,25,101,8,2.4,AS
187,Vanuatu,21,18,11,0.9,OC
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [27]:
# filter 'drinks' to only include European countries
drinks[drinks.continent == 'EU']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
3,Andorra,245,138,312,12.4,EU
7,Armenia,21,179,11,3.8,EU
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
21,Bosnia-Herzegovina,76,173,8,4.6,EU
25,Bulgaria,231,252,94,10.3,EU
42,Croatia,230,87,254,10.2,EU
44,Cyprus,192,154,113,8.2,EU
45,Czech Republic,361,170,134,11.8,EU
48,Denmark,224,81,278,10.4,EU
57,Estonia,224,194,59,9.5,EU
60,Finland,263,133,97,10.0,EU
61,France,127,151,370,11.8,EU
64,Georgia,52,100,149,5.4,EU
65,Germany,346,117,175,11.3,EU
67,Greece,133,112,218,8.3,EU
75,Hungary,234,215,185,11.3,EU
76,Iceland,233,61,78,6.6,EU
81,Ireland,313,118,165,11.4,EU
83,Italy,85,42,237,6.5,EU
93,Latvia,281,216,62,10.5,EU
98,Lithuania,343,244,56,12.9,EU
99,Luxembourg,236,133,271,11.4,EU
105,Malta,149,100,120,6.6,EU
111,Monaco,0,0,0,0.0,EU
113,Montenegro,31,114,128,4.9,EU
120,Netherlands,251,88,190,9.4,EU
126,Norway,169,71,129,6.7,EU
135,Poland,343,215,56,10.9,EU
136,Portugal,194,67,339,11.0,EU
139,Moldova,109,226,18,6.3,EU
140,Romania,297,122,167,10.4,EU
147,San Marino,0,0,0,0.0,EU
151,Serbia,283,131,127,9.6,EU
155,Slovakia,196,293,116,11.4,EU
156,Slovenia,270,51,276,10.6,EU
160,Spain,284,157,112,10.0,EU
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
170,Macedonia,106,27,86,3.9,EU
180,Ukraine,206,237,45,8.9,EU
182,United Kingdom,219,126,195,10.4,EU

In [34]:
# filter 'drinks' to only include European countries with wine_servings > 300
drinks[(drinks.continent == 'EU') & (drinks.wine_servings > 300)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,EU
61,France,127,151,370,11.8,EU
136,Portugal,194,67,339,11.0,EU

In [33]:
# calculate the mean 'beer_servings' for all of Europe
drinks[drinks.continent == 'EU']['beer_servings'].mean()

193.77777777777777